@import url('https://fonts.googleapis.com/css2?family=Benne&family=Big+Shoulders+Stencil+Display&family=Creepster&display=swap');

.bodyWithBackgroundImage3{

    background-image: url(../assets/background_image7.jpeg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: flex-end;

}



.defaultLabels{

    background-color: red;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.defaultInputStyle{

    background-color: #EFEFEF;
    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 22.5px;
    font-family: 'Creepster', cursive;
}

.defaultP{
    background-color: red;
    width: 350px;
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

p{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.gameplayPageContainerGridLayout{
    display:  grid;
    grid-template-columns: 1fr, 200px;
    align-content: center;

}

.enemyDiv{
    width: 80%;
    float: left;
}

.wizardDiv{
    width: 20%;
    float: right;
    align-items: flex-start;
}

.gameplayPageDivLayout{
    display:  grid;
    grid-template-rows: repeat(3, 1fr);
    align-content: center;

}

.audioButton{

   align-content: center;
   height: 50px;
   width: 50px;
   background-color: white;
}

.footerLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    background-color: black;
    color: white;
}

.largeText{
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.wizardImage{

    height: 120px;
    width: 120px;
    background-image: url(../assets/wizard.png);
    background-size: 128px auto;
}

