@import url('https://fonts.googleapis.com/css2?family=Benne&family=Big+Shoulders+Stencil+Display&family=Creepster&display=swap');

body{
    background-image: url(../assets/background_image7.jpeg);
    /* background-color: #cccccc; */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: 1fr 128px;
    grid-template-rows: repeat(5,20%);
    width: 100vw;
    height: 95vh;
}

p{
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;

    margin-top: 0px;
}


.holderDiv
{
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.wizardDiv
{
    height: 100%;
    text-align: center;
    width: 100%;
}

.ghostDiv
{
    height: auto;
    width: 128px;
    position: relative;
    text-align: center;
    max-height: 100%;
}

.audioButton{
    position: absolute;
   float: left;
   align-content: center;
   height: 50px;
   width: 50px;
   background-color: white;
}

.footerLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    background-color: black;
    color: white;
}

.largeText{
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.wizardImage{

    width: 128px;
    height: auto;
    aspect-ratio: 1;
    max-width: 100%;
}

.ghostImage
{
    height: auto;
    margin: auto;
    aspect-ratio: 1;
    max-height: 128px;
}

.gameOver
{
    height: 300px;
    padding: 20px;
    width: 40%;
    background-color: #dedede;
    border-radius: 5px;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
}

.center-Horizontally
{
    left: 50%;
    position: relative;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-Vertically
{
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    opacity: 0.5;
}

.gameOver h1
{
    color: red;
    font-size: 32px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.gameOver button
{
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;

    font-size: large;
    background-color: white;
    color: teal;
    border-color: teal;

    font-family: 'Creepster', cursive;
}

.gameOver button:hover
{

    background-color: teal;
    color: white;
}
