@import url('https://fonts.googleapis.com/css2?family=Benne&family=Big+Shoulders+Stencil+Display&family=Creepster&display=swap');

.bodyWithBackgroundImage1{

    background-image: url(../assets/bg_1.gif);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.defaultLabels{

    background-color: red;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.defaultInputStyle{

    background-color: #EFEFEF;
    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 22.5px;
    font-family: 'Creepster', cursive;
}

.defaultP{
    
    background-color: red;
    width: 350px;
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

h1{
    text-transform: uppercase;
    color: white;
    font-size: 40.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

p{
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homePageGridLayout{

    display:  grid;
    grid-template-rows: repeat(4, 1fr);
    align-content: center;
}

