@import url('https://fonts.googleapis.com/css2?family=Benne&family=Big+Shoulders+Stencil+Display&family=Creepster&display=swap');

.bodyWithBackgroundImage1{

    background-image: url(assets/bg_1.gif);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyWithBackgroundImage2{

    background-image: url(assets/background_image2.jpeg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;

}


.bodyWithBackgroundImage3{

    background-image: url(assets/background_image7.jpeg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: flex-end;

}

.defaultLabels{

    background-color: red;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.defaultInputStyle{

    background-color: #EFEFEF;
    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 22.5px;
    font-family: 'Creepster', cursive;
}

.defaultP{
    background-color: red;
    width: 350px;
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

p{
    text-transform: uppercase;
    color: white;
    font-size: 22.5px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.homePageGridLayout{

    display:  grid;
    grid-template-rows: repeat(4, 1fr);
    align-content: center;
}


.gameplayPageContainerGridLayout{

    display:  grid;
    grid-template-columns: 260px, 1fr;
    align-content: center;

}

.gameplayPageDivLayout{
    display:  grid;
    grid-template-rows: repeat(3, 1fr);
    align-content: center;

}

.audioButton{

   align-content: center;
   height: 50px;
   width: 50px;
   background-color: white;
}

.audioButton ::hover{
    cursor: wait;
}

.footerLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    background-color: black;
    color: white;
}

.largeText{
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.leftAlignedText{
    align-content: center;
}

.rightAlignedText{
    align-content: center, ;
}

.wizardImage{

    height: 120px;
    width: 105px;
    background-image: url(assets/wizard_sprite_rotated_no_bg.png);
    align-content: center;
    background-size: 128px auto;
}
